{% extends "base_generic.html" %}

{% block content %}
<!-- Account info -->
<div class="row">
    <div class="box">
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">Code Generator</h2>
          <hr>
          {% if messages %}
            {% for message in messages %}
                <div class="lead text-center{% if message.tags %} text-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          {% if error_message %}<div class="lead text-center text-warning">{{ error_message }}</div>{% endif %}
          <p class="lead text-center">Generate codes for {% if is_gcadmin %}students{% endif %}{% if is_superuser %}admins{% endif %}</p>
          <form class="form-inline text-center" action="{% url 'user:submit-code-generator' %}" method="post">
          {% csrf_token %}
                <input type="text" class="form-control margin-top" id="iC" name="inputCount" maxlength="30" placeholder="How many codes?" required/>
              {% if is_superuser %}
                <input type="text" class="form-control margin-top" id="iS" name="inputSchool" maxlength="70" placeholder="Name of your school" required/>
              {% endif %}
              {% if is_gcadmin %}
                <input type="text" class="form-control margin-top" id="iV" name="inputValue" maxlength="15" placeholder="Award value, 0 default"/>
                <select name="codeType" class="form-control margin-top" required>
                    <option value="" disabled selected>Code type</option>
                    <option value="registration">Registration</option>
                    <option value="award">Award coin</option>
                </select>
              {% endif %}
                <button type="submit" class="btn btn-success margin-top" name="generate" value="generate">Generate</button>
                <br>
                <label class="checkbox-inline">
                    <input type="checkbox" name="infinite">Infinite (the code can always be used)
                </label>
          </form>
        </div>
    </div>
</div>

<!-- Codes -->
<div class="row">
    <div class="box">
        <hr>
        <h2 class="intro-text text-center">Marketplace registration codes for {% if is_gcadmin %}students{% endif %}{% if is_superuser %}school admins{% endif %}</h2>
        <hr>
        <form class="form-inline text-center" action="{% url 'user:pdf-codes-admin' %}" method="post">
        {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="codeName" style="margin-bottom: 15px;" value="registration">Download registration codes</button>
        </form>
{% if is_superuser %}
            <table class="table table-hover table-responsive gctable">
                <tbody>
                  <small class="lead">
                      <tr>
                          <td scope="row"><h5 class="lead text-center">School</h5></td>
                          <td scope="row"><h5 class="lead text-center">Codes</h5></td>
                          <td scope="row"><h5 class="lead text-center">Registered admins</h5></td>
                      </tr>
                  </small>
                {% for school, code_items in codes.items %}
                  <small class="lead">
                  <tr>
                      <td scope="row"><p class="lead">{{ school }}</p></td>
                      <td scope="row">
                    {% for c in code_items %}
                      <p class="lead">{{ c }}</p>
                    {% endfor %}
                      </td>
                      <td scope="row">
                    {% for admin in admins %}
                    {% if admin.school__name == school %}
                      <p class="lead">{{ admin.first_name }} {{ admin.last_name }}</p>
                    {% endif %}
                    {% empty %}
                      <p class="lead">No admins in this school</p>
                    {% endfor %}
                      </td>
                  </tr>
                  </small>
                {% empty %}
                <small class="lead">
                    <tr><td scope="row"><p class="lead">No schools registered</p></td></tr>
                </small>
                {% endfor %}
                </tbody>
            </table>
{% endif %}
{% if is_gcadmin %}
            <table class="table table-hover table-responsive gctable">
                <tbody>
                    <tr><td>
                    <small class="lead">
                    {% for c in registration_codes %}
                        <div class="col-sm-2 col-xs-4 gccell"><p class="lead">{{ c }}</p></div>
                    {% empty %}
                        <p class="lead text-center">No codes</p>
                    {% endfor %}
                    </small>
                    </td></tr>
                </tbody>
            </table>
            <form class="form-inline text-center" action="{% url 'user:submit-code-generator' %}" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="delete" style="margin-top: 15px;" value="registration">Delete all registration codes</button>
            </form>
            <hr>
            <h2 class="intro-text text-center">Award codes for students</h2>
            <hr>
            <form class="form-inline text-center" action="{% url 'user:pdf-codes-admin' %}" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="codeName" style="margin-bottom: 15px;" value="award">Download award codes</button>
            </form>
            <table class="table table-hover table-responsive gctable">
                <tbody>
                    <tr><td>
                    <small class="lead">
                    {% for code, value in award_codes.items %}
                        <div class="col-sm-2 col-xs-4 gccell text-center"><p class="lead">{{ code }}<br>awards &hearts;{{ value }}</p></div>
                    {% empty %}
                        <p class="lead text-center">No codes</p>
                    {% endfor %}
                    </small>
                    </td></tr>
                </tbody>
            </table>
            <form class="form-inline text-center" action="{% url 'user:submit-code-generator' %}" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="delete" style="margin-top: 15px;" value="award">Delete all award codes</button>
            </form>
{% endif %}
    </div>
</div>
{% endblock %}
