{% extends "base_generic.html" %}

{% load auth_extras %}
{% load static %}
{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Welcome to GenCyberCoin Marketplace at {{ request.user|get_school }}</h2>
            <hr>
        </div>
        <div class="box">
            <div class="col-sm-4">
                <a href="https://www.gen-cyber.com/" target="_blank" rel="noopener noreferrer"><img src="{% static 'user/img/gencyber-logo.png' %}" alt="GenCyber Camp" class="img-responsive img-rounded center-block" width="350px"></a>
                <p class="lead text-center"><b>NSA/NSF GenCyber</b><br>Cybersecurity Summer Camps</p>
            </div>
            <div class="col-sm-4 text-center">
                <p class="lead">Confidentiality</p>
                <p class="lead">Integrity</p>
                <p class="lead">Availability</p>
                <p class="lead">Defense in Depth</p>
                <p class="lead">Keep it Simple</p>
                <p class="lead">Think Like an Adversary</p>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'user/img/gencybercoin.png' %}" alt="GenCyberCoin" class="img-responsive img-rounded center-block" width="220px"/>
                <p class="lead text-center"><b>GenCyberCoin</b><br>Digital Currency of GenCyber</p>
                <!-- !!!!!!!!!!!!!!!! don't forget to delete this !!!!!!!!!!!!!!!!!! -->
                <!-- very sensitive information -->
                <!-- or maybe it is intentional -->
                <!-- SECRET page /5ebe2294ecd0e0f08eab7690d2a6ee69 -->
                <!-- check it out though -->
                <!-- worth trying -->
                <!-- you may have found something interesting -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
