{% extends "base_generic.html" %}

{% load auth_extras %}
{% load static %}
{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Welcome to the Cyber Playground at {{ request.user|get_school }}</h2>
            <hr>
        </div>
        <div class="box">
            <div class="col-sm-4">
                <a href="https://www.gen-cyber.com/" target="_blank" rel="noopener noreferrer"><img src="{% static 'user/img/gencyber-logo.png' %}" alt="GenCyber Camp" class="img-responsive img-rounded center-block" width="350px"></a>
                <p class="lead text-center"><b>NSA/NSF GenCyber</b><br>Cybersecurity Summer Camps</p>
            </div>
            <div class="col-sm-4 text-center">
                <p class="lead"></p>
                <p class="lead"><a href="https://www.schneier.com/blog/archives/2016/07/real-world_secu.html" target="_blank">Confidentiality, Integrity, and Availability</a></p>
                <p class="lead"><a href="https://www.schneier.com/blog/archives/2006/02/security_in_the.html" target="_blank">Defense in Depth</a></p>
                <p class="lead"><a href="https://dwheeler.com/secure-programs/Secure-Programs-HOWTO/follow-good-principles.html" target="_blank">Keep it Simple</a></p>
                <p class="lead"><a href="https://www.cshub.com/security-strategy/news/know-your-enemy-be-your-enemy-a-look-at" target="_blank">Think Like an Adversary</a></p>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'user/img/gencybercoin.png' %}" alt="GenCyberCoin" class="img-responsive img-rounded center-block" width="220px"/>
                <p class="lead text-center"><b>GenCyberCoin</b><br>Digital Currency of GenCyber</p>
                <p style="display: none;">
                    !!!!!!!!!!!!!!!! don't forget to delete this !!!!!!!!!!!!!!!!!!
                    -- very sensitive information --
                    -- or maybe it is intentional --
                    -- SECRET page /5ebe2294ecd0e0f08eab7690d2a6ee69 --
                    -- check it out though --
                    -- worth trying --
                    -- you may have found something interesting --
                </p>
            </div>
        </div>
    </div>
    
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Features</h2>
            <hr>
        </div>
        <table class="table table-hover gctable">
            <tbody>
                <tr>
                    <td><i class="fas fa-user"></i></td>
                    <td><a href="{% url 'user:account' %}">Account</a></td>
                    <td>View your account information and update your security questions and password</td>
                </tr>
                <tr>
                    <td><i class="fas fa-shopping-cart"></i></td>
                    <td><a href="{% url 'user:market' %}">Market</a></td>
                    <td>Use your coins to buy real items</td>
                </tr>
                <tr>
                    <td><i class="fas fa-wallet"></i></td>
                    <td><a href="{% url 'user:wallet' %}">Wallet</a></td>
                    <td>See how many coins you have, redeem codes, and send coins to friends</td>
                </tr>
                <tr>
                    <td><i class="fab fa-bitcoin"></i></td>
                    <td><a href="{% url 'user:extras-cryptocurrency' %}">Cryptocurrency</a></td>
                    <td>Learn more about what cryptocurrency is and how it works</td>
                </tr>
                <tr>
                    <td><i class="fas fa-link"></i></td>
                    <td><a href="{% url 'user:extras-blockchain' %}">Blockchain</a></td>
                    <td>See a ledger of all coin transactions</td>
                </tr>
                <tr>
                    <td><i class="fas fa-bug"></i></td>
                    <td><a href="{% url 'user:extras-bug-bounty' %}">Bug Bounty</a></td>
                    <td>Learn how to be rewarded for finding bugs on this platform</td>
                </tr>
                <tr>
                    <td><i class="fab fa-jedi-order"></i></td>
                    <td><a href="{% url 'user:extras-hall-of-fame' %}">Hall of Fame</a></td>
                    <td>See who has discovered the most bugs, and which bugs you have found</td>
                </tr>
                <tr>
                    <td><i class="fab fa-searchengin"></i></td>
                    <td><a href="{% url 'user:extras-social-engineering' %}">Reconnaissance</a></td>
                    <td>Utilize your social engineering skills to answer questions and earn coins</td>
                </tr>
                <tr>
                    <td><i class="fas fa-user-ninja"></i></td>
                    <td><a href="{% url 'user:extras-osint-ninjas' %}">OSINT Ninjas</a></td>
                    <td>See who has answered the most reconnaissance questions</td>
                </tr>
                <tr>
                    <td><i class="fas fa-comments"></i></td>
                    <td><a href="{% url 'user:extras-feedback' %}">Feedback</a></td>
                    <td>Let us know what you think about this platform!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
