{% extends "base_generic.html" %}

{% load static %}
{% block customcss %}
    <link href="{% static 'user/css/cropper/cropper.min.css' %}" rel="stylesheet">
    <style>
      .label {
        cursor: pointer;
      }
      .img-container img {
        max-width: 100%;
      }
      .tool-tip [disabled] {
        pointer-events: none;
      }
    </style>
{% endblock %}

{% block content %}
<!-- Coins -->
<div class="row">
    <div class="box">
      <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">Market Items Editor</h2>
          <hr>
          <div class="normal-text">
              <div class="lead text-center">To open the market for students, go to Admin -> Settings menu</div>
              {% if messages %}
                {% for message in messages %}
                    <div class="lead text-center{% if message.tags %} text-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
              {% endif %}
              <div class="text-center"><button type="button" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#admin_market_info" style="white-space: normal;">Important FYI, please read to be aware how the market and import/export work</button></div>
              <div id="admin_market_info" class="collapse">
                  <p class="lead">TIERS</p>
                  <div class="lead text-center">Tier 10: most expensive/valuable<br>Tier 1: least expensive/valuable</div>
                  <hr>
                  <p class="lead">"CAMP" vs "CLASSROOM" MODES</p>
                  <p class="lead">You would choose "camp" mode in the Settings menu (a default mode) if you are planning to open up the market for all people at some point. Even though at the beginning it will only allow 3 students (a default setting) to order, it will automatically expand the queue as time goes on.</p>
                  <p class="lead">The "classroom" mode locks the queue to only the top students that you defined in the "Number of students with the most coins who are allowed to order items" (Settings menu), thus not allowing anybody else to order except those top students with the highest number of coins. This mode is useful if you decide to give away items to the top students every day at the camp (the top students will spend their coins to purchase the items, so it will still be a fair game for everyone to catch up on the following days) or every few weeks in case if this is an actual classroom.</p>
                  <hr>
                  <p class="lead">"CAMP" MODE (default in the Settings)</p>
                  <p class="lead">In the "camp" mode, the tiers are solely used to sort the market items for students from the most expensive to the least expensive (based on your personal opinion). The prices will be generated automatically, making sure that all students will be able to get any market item; tiers do not define the prices, just their order.</p>
                  <p class="sublead">PRICES</p>
                  <p class="lead">The prices are generated randomly from 1/4 to 1/2 of what the student currently has. Therefore, you do not have to worry about setting the prices. Every time a student buys an item, its price is updated with whatever price was set for that student, simulating the volatile nature of the cryptocurrency trade market.</p>
                  <p class="lead">In any outcome (even if a student has 0 coins), s/he will be able to get items from the market. The primary purpose of the coins that students own is to define the order in which students can purchase items from the market. However, from the students' perspective, coins DO matter and they will seek for the opportunities to get them.</p>
                  <p class="sublead">PRIORITY QUEUE</p>
                  <p class="lead">You can set how many students with the highest number of coins can purchase items at the same time. For instance, say, you have 10 students in the camp with {67, 65, 50, 47, 44, 35, 35, 32, 20, 16} coins, respectively, and you have a setting in the Admin Settings menu that sets the "Number of top students allowed to order items" to 4. It means that top-4 students (with {67, 65, 50, 47} coins) can go ahead and purchase items and the rest of the students have to wait their turn. As soon as a student purchases an item, the student is automatically moved at the back of the queue regardless how many coins the student has left, giving a spot for others to jump in and start ordering (in our case, someone with {44} coins will be able to start ordering).</p>
                  <p class="lead">In case if none of the top-queued students order anything within the predefined time (also set in the Admin Settings, defaulted to 1 min), the system will automatically allow 2 more students to order, meaning that students will be motivated to make decisions fast because the competition for items will rise as time goes on.</p>
                  <hr>
                  <p class="lead">"CLASSROOM" MODE (check it out in the Settings)</p>
                  <p class="lead">In the "classroom" mode, the tiers are used to define the prices. Students are sorted based on their total number of coins.</p>
                  <p class="lead">Say, you selected top-4 as the "Number of students with the most coins who are allowed to order items" and "classroom" as the Program mode in the Settings menu. The top-4 students will be queued up based on the number of coins they earned when you turn on the market (by the way, when everyone is finished ordering, turn the market off to prepare for the next round/day).</p>
                  <p class="lead">The price of all market items will be set individually and calculated as:</p>
                  <p class="lead text-center"><code>tier_of_market_item * (sum_of_top_students_coins / (top_student_queue_capacity * max_number_of_tiers))</code><p>
                  <p class="lead">In this example, <code>top_student_queue_capacity</code> is 4, <code>max_number_of_tiers</code> is always 10, so the prices will be automatically set according to:</p>
                  <p class="lead text-center"><code>tier_of_market_item * sum_of_top_4_students_coins / 40</code></p>
                  <hr>
                  <p class="lead">STUDENT ORDERS</p>
                  <p class="lead">Make sure that your market items have distinct titles because you will see students' carts on the "Student Orders" page that will show students' names and the titles of the market items that they have ordered. Students will not be able to order the same item twice. If you want to add t-shirts on the market, add separate market items for different shirt sizes.</p>
                  <p class="lead">Note that you (as an admin) will not be able to order anything from the market. You CAN see the market page with the purpose of taking a look how the students see it from the Student View.</p>
                  <hr>
                  <p class="lead">IMAGE UPLOAD</p>
                  <p class="lead">When you upload an image, you can crop it right on the spot (mobile-friendly) and the system will auto-resize the image for optimal saving so you do not have to worry about the its initial resolution. IMPORTANT: when you click on Browse/Replace Image on your phone, you can either upload an existing image or take a new one. If you take a new picture, make sure that you take it HORIZONTALLY because otherwise the cropper will not work and the image will be tilted 90 degrees (not sure why it happens but it happens :-D).</p>
                  <p class="lead">Supported image formats are: jpg, jpeg, png, and gif.</p>
                  <hr>
                  <p class="lead">IMPORT/EXPORT</p>
                  <p class="lead">Market items can be imported via uploading a .csv file that you can either create in Excel or a text editor. The necessary header must contain <i>name</i> and <i>description</i>. In addition, you can use <i>quantity</i> and <i>tier</i> in the header if you know those numbers; otherwise, you will be able to change everything right here after importing in any case. If the item's name or description contain a comma, you must put the whole sentence in double quotes. An example of a .csv file is presented below (notice that the flash drive's description has a comma and we put it in double quotes; we do not know the tier for it yet, so we left it blank but the separating comma is still there). If you add your items in Excel, you do not have to worry about adding quotes or commas, Excel will do that for you as long as you have the correct header (remember to save as .CSV file, not .XLSX).</p>
                  <p class="lead"><code>name,description,quantity,tier</code><br>
                  <code>Flash drive,"16GB dlash drive, water/shock resistant",2,</code><br>
                  <code>T-shirt,Small CyberEagles t-shirts,20,5</code><br>
                  <code>Glasses,TnTech shades,,</code></p>
              </div>
              <!-- Import/export -->
              <form class="form-horizontal" action="{% url 'user:submit-market-admin' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row center-block" style="width: 300px;">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-success margin-bottom margin-top">
                                Select CSV file<input type="file" name="inputCSV" style="display: none;" required>
                            </span>
                        </label>
                        <input type="text" class="form-control margin-bottom margin-top" readonly>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary margin-bottom margin-top" name="importCSV">Import</button>
                        </div>
                    </div>
                </div>
              </form>
              <form class="form-horizontal" action="{% url 'user:submit-market-admin' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group" style="width: 300px; margin: auto;">
                      <button type="submit" class="btn btn-primary pull-right" name="exportCSV">Export</button>
                  </div>
              </form>
              <!-- End import/export -->
          </div>

<!-- Add a new market item -->
<form class="form-horizontal" action="{% url 'user:submit-market-admin' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row center-block" style="width: 300px;">
      <div class="form-group">
          <img src="{% static 'user/img/no-image.jpg' %}" id="imageNewPreview" alt="Image preview..." class="img-responsive img-rounded center-block margin-top">
      </div>
      <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-success margin-bottom">
                  Browse Image<input type="file" id="imageNew" name="imageNew" style="display: none;" onchange="previewFile(this)">
                  <input type="hidden" id="inputXNew" name="inputXNew" value="">
                  <input type="hidden" id="inputYNew" name="inputYNew" value="">
                  <input type="hidden" id="inputWidthNew" name="inputWidthNew" value="">
                  <input type="hidden" id="inputHeightNew" name="inputHeightNew" value="">
              </span>
          </label>
          <input type="text" class="form-control" readonly>
      </div>

      <div class="form-group text-center">
          <label class="label tool-tip" data-toggle="tooltip" id="tooltipNew" title="Select the image before cropping">
              <input class="btn btn-info" type="button" value="Crop me" id="cropmeNew" name="cropmenow" onclick="cropMe(this)"/>
          </label>
      </div>

      <div class="form-group">
          <input type="text" class="form-control" id="iNN" name="itemName" maxlength="50" placeholder="Name" required/>
      </div>
      <div class="form-group">
          <textarea class="form-control" rows="3" cols="40" id="iDN" name="itemDescr" maxlength="300" placeholder="Description" required></textarea>
      </div>
      <div class="form-group">
          <input type="number" class="form-control" name="itemQuantity" maxlength="50" placeholder="Quantity [0, infinity]" min="0" required/>
      </div>
      <div class="form-group">
          <input type="number" class="form-control" name="itemTier" maxlength="50" placeholder="Tier [1, 10]" min="1" max="10" required/>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary center-block" name="addNewItem">Add</button>
      </div>
  </div>
</form>
<!-- End a new market item -->
<!-- Delete all items -->
<form class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <button type="button" class="btn btn-default pull-right" name="deleteAll" data-toggle="modal" data-target="#confirmModal">Delete all market items</button>
    </div>
</form>
    <!-- Confirm modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirmation
                </div>
                <div class="modal-body">
                    Are you sure you want to delete ALL market items?<br><br>You are advised to Export all items before you delete them, it will be easy to Import them back (images will not be saved though).
                </div>
                <div class="modal-footer">
                    <form class="form-horizontal" action="{% url 'user:submit-market-admin' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="hiddenDelete" id="hiddenDelete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" name="deleteAll" class="btn btn-danger">Delete ALL</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End confirm modal -->
<!-- End delete all items -->

          {% for item in marketdata %}
            {% if forloop.first %}
            <div class="row">
              <div class="box">
            {% elif forloop.counter0|divisibleby:"4" %}
              </div>
            </div>
            <div class="row">
              <div class="box">
            {% endif %}
                <div class="col-md-3 text-center">
                  <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'user:submit-market-admin' %}" method="post" id="marketItemForm{{item.id}}" name="{{item.id}}">
                      {% csrf_token %}
                      <div class="text-center img-wrapper"><img src="{{ item.image_file.url }}" id="image{{item.id}}Preview" class="img-responsive img-rounded" alt="{{ item.name }}" style="margin: 0 auto; height: 150px; padding-bottom: 10px;" /></div>

                      <div class="input-group col-sm-12">
                          <label class="input-group-btn">
                              <span class="btn btn-success margin-bottom">
                                  Replace Image<input type="file" id="image{{item.id}}" name="image{{item.id}}" style="display: none;" onchange="previewFile(this)">
                                  <input type="hidden" id="inputX{{item.id}}" name="inputX{{item.id}}" value="">
                                  <input type="hidden" id="inputY{{item.id}}" name="inputY{{item.id}}" value="">
                                  <input type="hidden" id="inputWidth{{item.id}}" name="inputWidth{{item.id}}" value="">
                                  <input type="hidden" id="inputHeight{{item.id}}" name="inputHeight{{item.id}}" value="">
                              </span>
                          </label>
                          <input type="text" class="form-control" readonly>
                      </div>

                      <div class="form-group text-center">
                          <label class="label tool-tip" data-toggle="tooltip" id="tooltip{{item.id}}" title="Select the image before cropping">
                              <input class="btn btn-info" type="button" value="Crop me" name="cropmenow" id="cropme{{item.id}}" onclick="cropMe(this)"/>
                          </label>
                      </div>

                      <div class="form-group margin-marketitems-admin">
                          <input type="text" class="form-control" id="name{{item.id}}" name="name{{item.id}}" maxlength="50" value="{{ item.name }}" required/>
                      </div>
                      <div class="form-group margin-marketitems-admin">
                          Quantity<input type="number" class="form-control" id="quantity{{item.id}}" name="quantity{{item.id}}" maxlength="50" value="{{ item.quantity }}" min="0" required/>
                      </div>
                      <div class="form-group margin-marketitems-admin">
                          Tier<input type="number" class="form-control" id="tier{{item.id}}" name="tier{{item.id}}" maxlength="50" value="{{ item.tier }}" min="1" max="10" required/>
                      </div>
                      <div class="form-group margin-marketitems-admin">
                          <textarea class="form-control" rows="5" id="descr{{item.id}}" name="descr{{item.id}}" maxlength="200" required>{{ item.description }}</textarea>
                      </div>
                      <div class="form-group margin-marketitems-admin">
                          <button type="button" class="btn btn-primary pull-left" name="update{{item.id}}" value="{{item.id}}" onclick="submitForm(this)">Save</button>
                          <button type="submit" class="btn btn-default pull-right" name="remove{{item.id}}" value="{{item.id}}">Remove</button>
                      </div>
                  </form>
                </div>
            {% if forloop.last %}
              </div>
            </div>
            {% endif %}
          {% endfor %}
          {% if pagination_enabled == "true" %}
          <div class="row">
              <div class="box text-center">
                  <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg">
                      <li{% if marketdata.has_previous %}{% else %} class="disabled"{% endif %}>
                        <a href="{% if marketdata.has_previous %}?page={{ marketdata.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      {% for i in "x"|rjust:marketdata.paginator.num_pages %}
                      <li{% if marketdata.number == forloop.counter %} class="active"{% endif %}><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                      {% endfor %}
                      <li{% if marketdata.has_next %}{% else %} class="disabled"{% endif %}>
                        <a href="{% if marketdata.has_next %}?page={{ marketdata.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
              </div>
          </div>
          {% endif %}
      </div>
    </div>
</div>

<!-- Update processing modal -->
<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Updating the item, please wait...
            </div>
        </div>
    </div>
</div>
<!-- End update processing modal -->

<!-- Update success modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Successfully updated the item!
            </div>
        </div>
    </div>
</div>
<!-- End update success modal -->

{% include "modal_window.html" %}

{% endblock %}

{% block customjs %}
<script>
    function submitForm(currObj) {
        var id = currObj.value;
        var formData = new FormData($('#marketItemForm' + id)[0]);
        var action = $('#marketItemForm' + id).attr('action');
        formData.append('update' + id, id);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        $.ajax({
            url: action,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function() {
                $("#processingModal").modal('show');
            },
            complete: function() {
                $("#processingModal").modal('hide');
            },
            success: function(json) {
                $("#updateModal").modal('show');
                setTimeout(function() { $("#updateModal").modal('hide'); }, 1500);
            }
        });
        return false;
    }
</script>

<script src="{% static 'user/js/cropper/cropper.min.js' %}"></script>
<script src="{% static 'user/js/cropper/cropme.min.js' %}"></script>
{% endblock %}
