{% extends "base_generic.html" %}

{% block content %}
<!-- Password recovery -->
{% load static %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            {% if username %}
            <h2 class="intro-text text-center">Get Two Questions Correct And You Will Be Logged In</h2>
            {% else %}
            <h2 class="intro-text text-center">Enter The Username to Recover The Password</h2>
            {% endif %}
            <hr>
            <div class="col-lg-12">
              {% if username %}
              <form class="form-horizontal" action="{% url 'user:password-recovery' %}" method="post">
              {% csrf_token %}
              {% if error_message %}<div class="lead text-center text-warning">{{ error_message }}</div>{% endif %}
              {% if useranswers %}
                <input type="hidden" name="inputUsername" maxlength="90" value="{{ username }}">

                <div class="form-group">
                  <label for="iQ1" class="col-sm-4 control-label">{{useranswers.question1}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="iQ1" name="inputQ1" placeholder="Answer 1" maxlength="90" required autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <label for="iQ2" class="col-sm-4 control-label">{{useranswers.question2}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="iQ2" name="inputQ2" placeholder="Answer 2" maxlength="90" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="iQ3" class="col-sm-4 control-label">{{useranswers.question3}}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="iQ3" name="inputQ3" placeholder="Answer 3" maxlength="90" required>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-12 text-center">
                    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                  </div>
                </div>
              {% endif %}
              </form>
              {% else %}
              <form class="form-horizontal" action="{% url 'user:password-recovery' %}" method="post">
              {% csrf_token %}
              {% if error_message %}<div class="lead text-center text-warning">{{ error_message }}</div>{% endif %}
                <div class="form-group">
                  <label for="iU" class="col-sm-3 control-label">Username</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="iU" name="inputUsername" placeholder="Enter Username" maxlength="90" required autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-12 text-center">
                    <button type="submit" class="btn btn-primary" name="submit">Recover my password</button>
                  </div>
                </div>
              </form>
              {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
