{% extends "base_generic.html" %}

{% block customcss %}
  {% include "extras/nice-checkbox.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Registration for GenCyberCoin</h2>
            <hr>
            {% if messages %}
              {% for message in messages %}
                  <div class="lead text-center{% if message.tags %} text-{{ message.tags }}{% endif %}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            <form class="form-horizontal" data-toggle="validator" action="{% url 'user:account-creation' %}" method="post">
            {% csrf_token %}
            {% if error_message %}<div class="lead text-center text-warning">{{ error_message }}</div>{% endif %}
              <div class="text-center">
                <h4>User Information</h4>
              </div>
              <div class="form-group">
                <label for="iU" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="iU" name="inputUsername" placeholder="Username" maxlength="90" value="{% if username %}{{ username }}{% endif %}" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="iF" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="iF" name="inputFirstname" placeholder="First Name" maxlength="90" value="{% if first_name %}{{ first_name }}{% endif %}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="iL" class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="iL" name="inputLastname" placeholder="Last Name" maxlength="90" value="{% if last_name %}{{ last_name }}{% endif %}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="iP" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="iP" name="inputPassword" placeholder="DO NOT USE ANY OF YOUR REAL PASSWORDS" maxlength="90" value="{% if password %}{{ password }}{% endif %}" required>
                </div>
              </div>

              <div class="text-center">
                <h4>Security Questions</h4>
              </div>
              {% for i in "xyz" %}
              <div class="form-group">
                <label for="iQ{{forloop.counter}}" class="col-sm-3 control-label">Question {{forloop.counter}}</label>
                <div class="col-sm-6">
                  <select class="form-control" id="iS{{forloop.counter}}" name="inputQ{{forloop.counter}}" required>
                  {% for q in questions %}
                    <option {% if forloop.counter == 1 and i == "x" %}selected{% elif forloop.counter == 2 and i == "y" %}selected{% elif forloop.counter == 3 and i == "z" %}selected{% endif %}>{{ q.question }}</option>
                  {% endfor %}
                  </select>
                </div>
                <div class="col-sm-offset-3 col-sm-6" style="padding-top: 10px;">
                  <input type="text" class="form-control" id="iA{{forloop.counter}}" name="inputA{{forloop.counter}}" placeholder="Answer {{forloop.counter}}" maxlength="90" value="{% if forloop.counter == 1 and a1 %}{{a1}}{% endif %}{% if forloop.counter == 2 and a2 %}{{a2}}{% endif %}{% if forloop.counter == 3 and a3 %}{{a3}}{% endif %}" required>
                </div>
              </div>
              {% endfor %}

              <div class="form-group">
                <div class="checkbox col-sm-offset-3 col-sm-6" style="padding-left: 0px;">
                  <label>
                    <input type="checkbox" name="trial" onclick="document.getElementById('iCode').disabled=this.checked;">
                    <span class="cr"><i class="cr-icon fa fa-rocket"></i></span>Trial <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Select this if there is no registration code. You will be competing against peers in approximately the same physical location. It will be auto-identified by your IP address. Your account will live for 30 days." id="trial-info"></i>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="iCode" class="col-sm-3 control-label">Enter your registration code (get it from GenCyber Team).</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="iCode" name="inputCode" placeholder="Registration Code" maxlength="90" value="{% if code %}{{ code }}{% endif %}" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script>
    $(document).ready(function(){
        $("[data-toggle=tooltip]").tooltip({ placement: 'top'});
        $('#trial-info').tooltip();
    });
</script>
{% endblock %}
