{% extends "base_generic.html" %}

{% load static %}
{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Feedback Messages</h2>
            <hr>
            {% if not request.user.is_superuser %}
            <!-- Delete all items and hide/shpow script messages that students had to use XSS for -->
            <form class="form-horizontal" action="{% url 'user:submit-feedback-admin' %}" method="post">
                {% csrf_token %}
                <div class="col-sm-6 text-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" name="hideScripts">{% if scripts_hidden == "true" %}Show{% else %}Hide{% endif %} &lt;script&gt; messages</button>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" name="deleteAll" data-toggle="modal" data-target="#confirmModal">Delete all feedback messages</button>
                    </div>
                </div>
            </form>
            {% else %}
                <div class="lead text-center">Messages containing "script" are not shown</div>
            {% endif %}
            <!-- Confirm modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Confirmation
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete ALL feedback messages?
                        </div>
                        <div class="modal-footer">
                            <form class="form-horizontal" action="{% url 'user:submit-feedback-admin' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="hiddenDelete" id="hiddenDelete">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" name="deleteAll" class="btn btn-danger">Delete ALL</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End confirm modal -->
            <!-- End delete all items -->
            {% if messages %}
              {% for message in messages %}
                  <div class="lead text-center{% if message.tags %} text-{{ message.tags }}{% endif %}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            <div class="col-sm-6" style="word-wrap: break-word;">
                {% with slice_count=":"|add:columnsplitter %}
                    {% for f in feedbackdata|slice:slice_count %}
                        <p class="sublead">{% if request.user.is_superuser %}{{ f.school.name }}: {% endif %}<span class="fixed-date">{{ f.date }}</span><br>{{ f.message }}</p>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="col-sm-6" style="word-wrap: break-word;">
                {% with slice_count=columnsplitter|add:":" %}
                    {% for f in feedbackdata|slice:slice_count %}
                        <p class="sublead">{% if request.user.is_superuser %}{{ f.school.name }}: {% endif %}<span class="fixed-date">{{ f.date }}</span><br>{{ f.message }}</p>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="box text-center">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li{% if feedbackdata.has_previous %}{% else %} class="disabled"{% endif %}>
              <a href="{% if feedbackdata.has_previous %}?page={{ feedbackdata.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% for i in "x"|rjust:feedbackdata.paginator.num_pages %}
            <li{% if feedbackdata.number == forloop.counter %} class="active"{% endif %}><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
            <li{% if feedbackdata.has_next %}{% else %} class="disabled"{% endif %}>
              <a href="{% if feedbackdata.has_next %}?page={{ feedbackdata.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block customjs %}
    <script src="{% static 'user/js/timetolocal.min.js' %}"></script>
{% endblock %}
