{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Student carts</h2>
            <hr>
            <p class="lead text-center">(click on the name)</p>
            <div class="table-responsive">
            <table class="table table-hover gctable">
              <tbody>
              <small class="lead">
              {% for name, cart in carts.items %}
                  <tr>
                    <td scope="row">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#{{ forloop.counter }}"><p class="lead">{{ name }} ordered {{ cart|length }}:</p></button>
                    </td>
                    <td scope="row">
                        <div id="{{ forloop.counter }}" class="collapse">
                    {% for c in cart %}
                        <p class="lead">{{ c }}</p>
                    {% empty %}
                        <p class="lead">nothing</p>
                    {% endfor %}
                        </div>
                    </td>
                  </tr>
                  <tr style="background-color: rgb(221,255,255,0.6);"><td></td><td></td></tr>
              {% endfor %}
              </small>
              </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
