{% extends "base_generic.html" %}

{% block content %}
{% load auth_extras %}
{% load static %}
<div class="row">
    <div class="box">
        <div class="col-lg-3" style="margin: auto 0;">
          <hr>
          <h2 class="intro-text text-center">Redeem Reward Code</h2>
          <hr>
          <form class="form-inline text-center" action="{% url 'user:submit-wallet' %}" method="post">
          {% csrf_token %}
            <div class="form-group">
              <small class="lead" style="font-size: 16px;">Code</small>
              <input type="text" class="form-control" id="iC" name="inputCode" maxlength="100" placeholder="Enter your code here" style="margin: 5px;" required>
              <button type="submit" class="btn btn-primary" name="redeem" style="margin: 5px;" value="redeem">Redeem</button>
            </div>
          </form>
        </div>
        <div class="col-lg-9">
            <hr>
            <h2 class="intro-text text-center">GenCyberCoin Wallet</h2>
            <hr>
            {% if request.user|is_admin and not request.user|student_mode %}<p class="lead text-center">As an admin, you can transfer the reward coins directly to your students without entering the password</p>{% endif %}
            {% if messages %}
              {% for message in messages %}
                  <div class="lead text-center{% if message.tags %} text-{{ message.tags }}{% endif %}">{{ message }}</div>
              {% endfor %}
            {% endif %}

        {% if userdata.is_admin and not request.user|student_mode %}
        <form class="form-horizontal" action="{% url 'user:submit-wallet' %}" method="post">
        {% csrf_token %}
        {% endif %}
            <div class="col-sm-6 text-center">
              <h3>Appreciation Coins</h3>
              <p class="lead">(savings account)</p>
              <img src="{% static 'user/img/savings-gencybercoin.jpg' %}" class="img-responsive img-circle" alt="Appreciation Coins" style="margin: 0 auto; max-width: 100px;" />
              {% if userdata.is_admin and not request.user|student_mode %}
                <div class="input-group coins">
                    <div class="input-group-addon">&clubs;</div>
                    <input type="number" class="form-control input-lg text-center" name="honoraryCoins" value="{{ userdata.honory_coins }}" size="4" min="0">
                </div>
              {% else %}
              <p class="text-center coins">&clubs;{{ userdata.honory_coins }}</p>
              {% endif %}
            </div>
            <div class="col-sm-6 text-center">
              <h3>Reward Coins</h3>
              <p class="lead">(checking account)</p>
              <img src="{% static 'user/img/gencybercoin.png' %}" class="img-responsive img-circle" alt="Reward Coins" style="margin: 0 auto; max-width: 100px;" />
            {% if userdata.is_admin and not request.user|student_mode %}
              <div class="input-group coins">
                  <div class="input-group-addon">&hearts;</div>
                  <input type="number" class="form-control input-lg text-center" name="permanentCoins" value="{{ userdata.permanent_coins }}" size="4" min="0">
              </div>
            {% else %}
              <p class="text-center coins">&hearts;{{ userdata.permanent_coins }}</p>
            {% endif %}
            </div>
        {% if userdata.is_admin and not request.user|student_mode %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary center-block" name="saveCoins">Save Coins</button>
            </div>
            <hr>
        </form>
        {% csrf_token %}
        {% endif %}

            <div class="col-lg-12">
              <p class="lead text-center">Coins Transfer</p>
              <p class="sublead">You can transfer REWARD coins to your peers for any reason. For instance, someone may have unconditionally helped you, or you noticed that someone was a great leader in a team, or you would like to encourage someone, or maybe someone contributed the most in the team challenge. You can transfer the REWARD coin as a token of appreciation to that person. It is limited to transfering a maximum of {{ amount_allowed_to_send }} REWARD coins to every peer and you cannot transfer more than once to anyone.</p>
              <p class="sublead">IMPORTANT: You will use REWARD coins in the market to order real items so think twice before sending your REWARD coins to anyone.</p>
              <p class="sublead">You can also transfer your APPRECIATION coins (not REWARD) to the GenCyber Team members whom you really appreciated and enjoyed working with by selecting their names and making the transaction.</p>
              <p class="sublead">NOTE: you can send as many APPRECIATION coins and as many times as you want to the GenCyber Team.</p>
              <p class="sublead">All transfers are captured in the Features -> Blockchain.{% if not request.user|has_group:"gcadmin" %} Every transaction is verified with your password.{% endif %}</p>
              <form class="form-horizontal" action="{% url 'user:transfer' %}" method="post">
              {% csrf_token %}
                <div class="form-group">
                  <label for="iT" class="col-sm-2 control-label">Transfer to</label>
                  <div class="input-group col-sm-10">
                    <select class="form-control" id="iT" name="inputTransfer" onchange="updateCurrency(this)">
                      <option>Who is the lucky one?</option>
                      {% for au in allusers %}
                        {% if au.username != request.user.username %}
                          <option value="{{ au.id }}">{{ au.first_name }} {{ au.last_name }}{% if au.is_admin %} (GenCyber Team){% endif %}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="iA" class="col-sm-2 control-label">Amount</label>
                  <div class="input-group col-sm-10">
                    <div class="input-group-addon" id="clubs-or-hearts"></div>
                    <input type="text" class="form-control" id="iA" name="inputAmount" placeholder="Choose the user you want to send the money to" disabled>
                    <div class="input-group-addon">.00</div>
                  </div>
                </div>
                {% if not request.user|has_group:"gcadmin" %}
                <div class="form-group">
                  <label for="iP" class="col-sm-2 control-label">Password</label>
                  <div class="input-group col-sm-10">
                    <input type="password" class="form-control" id="iP" name="userPassword" placeholder="Enter your password">
                  </div>
                </div>
                {% endif %}
                <div class="form-group">
                  <div class="col-lg-12 text-center">
                    <button type="submit" class="btn btn-primary" name="submit">Make a Transaction</button>
                  </div>
                </div>
              </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customjs %}
<script>
function updateCurrency(obj) {
    if (obj.selectedIndex == -1)
        return null;

    var clubsOrHearts = document.getElementById('clubs-or-hearts');
    var transferTo = document.getElementById('iA');
    if (obj.selectedIndex == 0) {
        clubsOrHearts.innerHTML = "";
        transferTo.placeholder = "Choose the user you want to send the money to";
        transferTo.disabled = true;
    }
    else if (obj.options[obj.selectedIndex].text.includes("GenCyber Team")) {
        clubsOrHearts.innerHTML = "&clubs;";
        transferTo.placeholder = "You can send as many " + String.fromCharCode(9827) + "coins as you want";
        transferTo.disabled = false;
    }
    else {
        clubsOrHearts.innerHTML = "&hearts;";
        {% if not request.user|has_group:"gcadmin" %}
        transferTo.placeholder = "You are limited to sending up to " + String.fromCharCode(9829) + {{ amount_allowed_to_send }};
        {% else %}
        transferTo.placeholder = "You can send as many " + String.fromCharCode(9829) + "coins as you want";
        {% endif %}
        transferTo.disabled = false;
    }
}
</script>
{% endblock %}
