container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

  02_setdefaults:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py setdefaults"
    leader_only: true

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cryptocoin.settings"
    "SECRET_KEY": "ksfl6reu(+ezk_1_*z5ct4c_)(p!h5913axcwt0u6va7iww262eiq^3498trdk"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: cryptocoin/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "cryptocoin/static/"
