files:
  "/etc/httpd/conf.d/enable_cache.conf":
    mode: "000444"
    owner: root
    group: root
    content: |
      <IfModule mod_expires.c>
        ExpiresActive on
        ExpiresByType image/jpg "access plus 1 day"
        ExpiresByType image/jpeg "access plus 1 day"
        ExpiresByType image/gif "access plus 1 day"
        ExpiresByType image/png "access plus 1 day"
        ExpiresByType text/css "access plus 1 day
        ExpiresByType text/javascript "access plus 1 day
        ExpiresByType application/javascript "access plus 1 day
        ExpiresByType image/ico "access plus 1 day"
      </IfModule>
