{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="box">
        <div class="container-fluid">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">Page Not Found: Good Old 404</h2>
                <hr>
                <div class="normal-text">
                    <p class="lead">Let me guess: you tried to access something that does not exist?</p>
                    <p class="lead">Sounds like the quote by Rear Admiral Grace Murray Hopper would fit well here:</p>
                    <p class="lead text-center text-primary">"It's easier to ask forgiveness than it is to get permission."</p>
                    <p class="lead">Just kidding. In security, permission separates legal from illegal, so if you do bug bounty in the future, make sure that you have permission from the owner. Something brought you here, so here is the code for you to redeem: $good-old-404-error</p>
                    <p class="lead">Good luck, private.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
