{% extends "base_generic.html" %}

{% block content %}
{% load static %}
{% load auth_extras %}
<div class="row">
    <div class="box">
        <div class="container-fluid">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">Blockchain</h2>
                <hr>
                <div class="normal-text">
                    <p class="lead">A Blockchain is a public ledger (a keeper of transactions) that is used in cryptocurrencies. The Blockchain allows users to know exactly what transactions happened at any time.
                    </p>
                    <p class="lead">This Blockchain keeps track of all coins transactions and performs the necessary calculations so that users could trust the Blockchain. For instance, every transaction stores a virtual fingerprint (a hash value) of the previous transaction and users can verify that a transaction has truly happened by recalculating that fingerprint.</p>
                    <p class="lead">Watch a <u><a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" target="_blank">6-min video</a></u> to learn more about the Blockchain technology. It will tell you how the Blockchain works, how it keeps everything in place, and how it is protected against different types of attacks.</p>
                    <p class="lead">There are numerous applications for the Blockchain, you can learn about 10 of them in a <u><a href="https://www.youtube.com/watch?v=LsqI69jpM38" target="_blank">3-min video</a></u>.</p>
                    <button id="hideOrShowButton" class="btn btn-info center-block" onclick="hideOrShow(document.querySelectorAll('.not-mine'), this);">Show Only My Transactions</button>
                </div>
                {% if not request.user.is_superuser and request.user.is_authenticated and request.user|is_admin %}
                <form class="form-inline center-block" action="{% url 'user:extras-blockchain' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="selectedStudent"><p class="sublead">Show only</p></label>
                        <select class="form-control" name="selectedStudent" onchange="this.form.submit()">
                          <option value="-1">Select a user</option>
                          <option value="-1">Show everyone</option>
                          <option disabled>________________</option>
                          {% for au in allusers %}
                            {% if au.username != request.user.username %}
                              <option value="{{ au.id }}">{{ au.first_name }} {{ au.last_name }}{% if au.is_admin %} (GenCyber Team){% endif %}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        <label for="selectedStudent"><p class="sublead">P.S.: this "Select a user" option is not available to students and the blockchain is anonymized for them except their personal transactions</p></label>
                    </div>
                </form>
                {% endif %}
                <div class="timeline">

                    {% if not transfers.has_previous %}
                    <span class="timeline-label">
                        <span class="label label-success">Blockchain Ends</span>
                    </span>
                    {% endif %}

                    {% for log in transfers %}
                    {% if log.switch_next_day %}
                    <span class="timeline-label">
                        <span class="label label-info">{{ log.day }}</span>
                    </span>
                    {% endif %}

                    <div class="timeline-item {% if log.mine %}mine{% else %}not-mine{% endif %}"{% if log.mine %} id="{{ log.student_id }}"{% endif %}>
                        <div class="timeline-point timeline-point-info">
                        </div>
                        <div class="timeline-event timeline-event-info">
                            <div class="timeline-heading">
                                <h4>Transaction #{{ log.id }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p>{{ log.sender }} sent {% if 'GenCyber Team' in log.receiver %}&clubs;{% else %}&hearts;{% endif %}{{ log.amount }} to {{ log.receiver }}</p>
                                <div class="hash-style">sha-1 (hash): {{ log.hash }}</div>
                            </div>
                            <div class="timeline-footer">
                                <small><p class="text-right fixed-date">{{ log.date }}</p></small>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <span class="timeline-label">
                        <span class="label label-info">No GenCyberCoin transactions happened yet</span>
                    </span>
                    {% endfor %}

                    {% if not transfers.has_next %}
                    <span class="timeline-label">
                        <span class="label label-success">Blockchain Starts</span>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if pagination_enabled == "true" %}
<div class="row">
<div class="box text-center">
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-lg">
        <li{% if transfers.has_previous %}{% else %} class="disabled"{% endif %}>
          <a href="{% if transfers.has_previous %}?page={{ transfers.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for i in "x"|rjust:transfers.paginator.num_pages %}
        <li{% if transfers.number == forloop.counter %} class="active"{% endif %}><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        <li{% if transfers.has_next %}{% else %} class="disabled"{% endif %}>
          <a href="{% if transfers.has_next %}?page={{ transfers.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
</div>
{% endif %}
{% endblock %}

{% block customjs %}
    <script src="{% static 'user/js/timetolocal.min.js' %}"></script>
    <script>
        function hideOrShow (elements, obj) {
          elements = elements.length ? elements : [elements];
          for (var index = 0; index < elements.length; index++) {
              if (elements[index].style.display == "none") {
                  elements[index].style.display = "block";
                  obj.innerText = "Show Only My Transactions";
              }
              else {
                  elements[index].style.display = "none";
                  obj.innerText = "Show All Transactions";
              }
          }
        }
    </script>
{% endblock %}
