{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Security Policy</h2>
            <hr>
            {% if messages %}
              {% for message in messages %}
                  <div class="lead text-center{% if message.tags %} text-{{ message.tags }}{% endif %}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            <div class="normal-text">
                <p class="lead">Congrats! You found a page that security researchers would use to submit their reposonsible disclosure reports on identified vulnerabilities. If you found any real bug on this website that allows you to compromise a user/system/etc. or just shows a yellow-ish page, then please contact me. The information is provided below.</p>
            </div>
            <div class="normal-text text-center">
                <hr>
                <h2 class="intro-text text-center">Submission Information</h2>
                <hr>
                <p class="lead">Code to redeem: $security-txt-policy!</p>
                <p class="lead">Contact: Vitaly Ford (<span style="color: #0000ff;">fordv@arcadia.edu</span> <button type="button" class="btn btn-default btn-xs btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy="fordv@arcadia.edu" title="Copy to clipboard">
                  <!-- icon from google's material design library -->
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="12" height="12" viewBox="0 0 24 24"><path d="M17,9H7V7H17M17,13H7V11H17M14,17H7V15H14M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" /></svg>
                </button>)</p>
                <p class="lead">Preferred-Languages: en, ru</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
