{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="row">
    <div class="box">
      <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">Add/Edit Reconnaissance Questions</h2>
          <hr>
          <div class="normal-text">
              <div class="lead text-center">To open Reconnaissance for students, go to Admin -> Settings menu</div>
              {% if messages %}
                {% for message in messages %}
                    <div class="lead text-center{% if message.tags %} text-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
              {% endif %}
              <div class="text-center"><button type="button" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#admin_se_info" style="white-space: normal;">Important FYI, please read to be aware how Reconnaissance works</button></div>
              <div id="admin_se_info" class="collapse">
                  <p class="lead">INTRODUCTION</p>
                  <p class="lead">This activity can help students become more aware of Reconnaissance and social engineering tactics and break the ice among themselves and GenCyber team (organizers, helpers, etc.) throughout the camp.</p>
                  <p class="lead">The goal of this Reconnaissance activity is to let students experience that the weakest link in security is "human nature". You come up with questions that students would need to find the answers to. The questions can relate to all or some of the GenCyber team (ask their permission). The students will be able to see the questions and they will be tasked to find ways how to correctly approach the people and ask them questions that would lead to the answers. For every answer, students get bonus points to their earned GenCyberCoins.</p>
                  <p class="lead">EXAMPLE QUESTIONS</p>
                  <p class="lead">For instance, a question could be "What is the name of Mary Smith's sister?" or "What country did Dr. Zang visit last summer?" The students could use the Internet or directly ask questions in casual conversions with the GenCyber team - it will be up to their curiosity and creativity. At the end, they could do a short presentation/discussion on what they learned and how they approached things in social engineering.</p>
                  <p class="lead">MULTIPLE DIFFERENT ANSWERS</p>
                  <p class="lead">If you want to allow for multiple different answers, you can separate those answers with a semicolon. For instance, say the question is "Name any 2 instruments that Alice can play" and Alice plays 3 instruments: guitar, drums, and viola. The answer that you input in this case is: guitar drums; guitar viola; drums viola. Now, if the students enter any of the 2 of those instruments, they will score the points. However, if they input all 3 instruments or enter an additional word, they will NOT get the points. Special characters and punctuation are ommited automatically so you and your students do not have to worry about that. Also, the order of the words does not matter and the answers are case insensitive.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 normal-text">
          <p class="lead text-center">Add a new question/answer pair</p>
          <form class="form-horizontal" action="{% url 'user:submit-social-engineering-admin' %}" method="post">
          {% csrf_token %}
              <div class="form-group margin-0-10">
                  <input type="text" class="form-control" name="addQ" maxlength="290" placeholder="Enter a new question" style="margin-bottom: 5px;" required>
                  <input type="text" class="form-control" name="addA" maxlength="290" placeholder="Enter a new answer" style="margin-bottom: 5px;" required>
                  <button type="submit" class="btn btn-success" name="submitAdd">Add</button>
              </div>
          </form>
          {% if allquestions %}
          <p class="lead text-center">Current Questions</p>
          <form class="form-horizontal" action="{% url 'user:submit-social-engineering-admin' %}" method="post">
          {% csrf_token %}
              {% for q in allquestions %}
              <div class="form-group margin-0-10">
                  <input type="text" class="form-control" name="q{{ q.id }}" maxlength="200" value="{{ q.question }}" style="margin-bottom: 5px;">
                  <input type="text" class="form-control" name="a{{ q.id }}" maxlength="200" value="{{ q.answer }}" style="margin-bottom: 5px;">
                  <div class="text-right">
                      <button type="submit" class="btn btn-danger" name="remove" value="{{ q.id }}">Delete</button>
                  </div>
              </div>
              <hr>
              {% endfor %}
              <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary" name="submitEdit" style="margin: 5px;">Save</button>
              </div>
          </form>
          {% endif %}
      </div>
      <div class="col-sm-2">
      </div>
    </div>
</div>
{% endblock %}
