boto3
botocore
diff-match-patch
Django>=2.0.3
django-import-export
django-storages
et-xmlfile
gunicorn
jdcal
odfpy
openpyxl
pillow
pip-review
psycopg2
pytz
PyYAML
reportlab==3.4.0
tablib==0.12.1
unicodecsv==0.14.1
xlrd==1.1.0
xlwt==1.3.0
