boto3
botocore
diff-match-patch
Django>=2.1.2
dj_database_url
django-heroku
django-import-export
django-storages
et-xmlfile
gunicorn
jdcal
odfpy
openpyxl
Pillow
pip-review
# have to keep this version to make it work with django_heroku
psycopg2==2.7.5
pytz
PyYAML
# redis
reportlab
tablib
unicodecsv
xlrd
xlwt
