boto3
botocore
diff-match-patch
Django>=2.1.2
django-import-export
django-storages
et-xmlfile
gunicorn
jdcal
odfpy
openpyxl
Pillow
pip-review
psycopg2-binary
pytz
PyYAML
# redis
reportlab
tablib
unicodecsv
xlrd
xlwt
